---
import { getLatestLaunches, getLaunchById } from "../../services/spacex";
import Layout from "../../layouts/Layout.astro";

export const prerender = false; //Activate SSR if is hybrid in astro.config

const { id } = Astro.params;

let launch;
if (id) {
  launch = await getLaunchById({ id });
}

// export async function getStaticPaths() {
//   //Call an external API to know the ids required
//   const launches = await getLatestLaunches();

//   return launches.map((launch) => ({
//     params: { id: launch.id },
//   }));
// }

console.log(launch);
---

<Layout title=`Lanzamiento ${id}`>
  <article class="flex gap-y-4 flex-col">
    <img
      class="w-52 h-auto"
      src={launch?.links?.patch.small}
      alt={launch?.name}
    />
    <h2 class="text-4xl text-white font-bold">
      Launch N°{launch?.flight_number}
    </h2>
    <p class="text-lg">{launch?.details}</p>
  </article>
</Layout>
